/*--------------- general --------------- */

body {
	font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	background-color: black;
}

p, span, a, ul, li, button {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
}

a{
	color:white;
}

a:hover {
  text-decoration: none;
	color: white;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 300;	
}

/*--------------- end general --------------- */

/*--------------- navbar --------------- */

.navbar{
	color:white;
	font-size:12px;
	letter-spacing: 1px;
	font-weight: 600;
	max-height:80px;
	height:100px;
	vertical-align: middle;
}

#nav-header-brand{
	position:absolute;
	left:50%;
}

.navbar-brand{
	position: relative;
	left:-50%;
	margin-right:0px;
}

#logo{
	max-height:60px;
}

#palm-tree-container{
	max-height:60px;
	float: left;
}

#tree-trunk, #tree-top{
	height:30px;
}

#tree-trunk{
	position:absolute;
	bottom:20px;
	right:138px;
}

#tree-top{
	position: absolute;
	top:12px;
	right:130px;
}

@keyframes wiggle {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-8deg);
	}
	50% {
		transform: rotate(0deg);
	}
	75% {
		transform: rotate(8deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.sliding-right {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
 
.sliding-right:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
 
.sliding-right:hover:after {
    width: 100%;
    background: #FF00FF;
}

#contact.sliding-right:hover:after {
    width: 100%;
    background: #00FFFF;
}

.sliding-left {
		display: inline-block;
}
.sliding-left:after {
		content: '';
		display: block;
		height: 3px;
		width: 0;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
}
.sliding-left:hover:after {
		width: 100%;
		background: #FF00FF;
}

/*--------------- end navbar --------------- */

/*--------------- tiles --------------- */

.row{
	background-color: white;
}

.col{
	margin:0px !important;
	padding:4px !important;
	background-color: white;
}

.tile {  
  width: 100%;
	height:calc(50vh - 50px);
	display: inline-block;
	box-sizing: border-box;
	margin:0px;
	overflow: hidden;
}

.photo{
	transition: transform .5s ease-in-out;
}

.title {
	margin-top: 0px;
	color:white;
	font-size:16px;
	font-weight: 100;
	letter-spacing: 1px;
	z-index: 10;
}

.dash{
	margin-left:10px;
	margin-right: 10px;
	height: 4px;
	width:30px;
	background-color: #00FFFF;
	display: inline-block;
	vertical-align: middle;
	transition: background-color .2s ease-in-out;
}


#restaurant.tile .title{
	position:absolute;
	bottom:15%;
	left:10%;
}

#activities.tile .title{
	position:absolute;
	top:5%;
	left:10%;
}

#news.tile .title{
	position:absolute;
	bottom:25%;
	left:10%;
}

#shop.tile .title{
	position:absolute;
	top:5%;
	left:10%;
}

#events.tile .title{
	position:absolute;
	top:10%;
	left:10%;
}

#about.tile .title{
	position:absolute;
	top:25%;
	right:10%;
}

#address.tile{
	background-color: #C420AA;
}

/*--------------- end tiles --------------- */

/*--------------- weather tile --------------- */

#social{
	text-align: center;
	
}

#social img{
	width:calc(33% - 4px);
	display: inline-block;
	background-color:black;
	padding:10px;
}

#weather{
	background-color: black;
	margin-top:8px;
	height:100%;
	text-align: center;
}

#weather-text{
	color:white;
	font-weight: 600;
	position: absolute;
	top:58%;
	width:60%;
	left:21%;
}

#sun-container{
	position: absolute;
	top:35%;
	left:50%;
}

#sun{
	position: relative;
	left:-50%;
	animation: spin 60s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*--------------- end weather tile --------------- */


#address-text{
	text-align: center;
	font-weight:100;
	font-size:18px;
	letter-spacing: 1px;
	color:white;
	font-weight: 600;
	position: absolute;
	top:48%;
	width:80%;
	left:10%;
}

#marker-container{
	position: absolute;
	top:25%;
	left:50%;
}

#marker{
	position: relative;
	left:-50%;
	animation: float 5s linear infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-15px);
	}
	100% {
		transform: translatey(0px);
	}
}